In [27]:
import pandas as pd
import re
from transliterate import translit
from unidecode import unidecode
from googletrans import Translator
from translate import Translator
import string

In [58]:

# Read the CSV file
data = pd.read_csv("training_data_telugu-hate.csv")

# Define the function to remove punctuation
def remove_punctuation(text):
    '''a function for removing punctuation'''
    if isinstance(text, str):
        translator = str.maketrans('', '', string.punctuation)
        return text.translate(translator)
    else:
        return text

# Apply the function to the 'Comments' column
data['Comments'] = data['Comments'].apply(remove_punctuation)

# Display the first 10 rows
data.head(10)

,S.No,Comments,Label,Unnamed: 3
0,HATE_1001,Thappu chesina vaallaku vanike kaadu inka anni...,hate,#NAME?
1,HATE_1002,Dhusta chaathuryam Meeru ilantivi enni chesin...,hate,NaN
2,HATE_1003,Vetakaram super Govt ki siggu seram radu Enduk...,hate,NaN
3,HATE_1004,Only rajakiyam ga vadukovatanike ee dharidrapu...,hate,NaN
4,HATE_1005,Katam hogaya narayana pedda bokada college,hate,NaN
5,HATE_1006,TELUGU DESAM PARTY ONLY GOOD ADMINISTRATION IN...,non-hate,NaN
6,HATE_1007,Nenu aite Jabardast show chudadam manesanu TV ...,non-hate,NaN
7,HATE_1008,Jagan meeda jaganke visvasam ledu anduke ea lo...,hate,NaN
8,HATE_1009,Students tho adukovtam thappu,non-hate,NaN
9,HATE_1010,Srinivasa gaaru endukee panikamaalina debate A...,hate,NaN

In [59]:
import pandas as pd

def replace_numbers_with_strings(text):
    if pd.isnull(text):
        return text  # Return the text unchanged if it's NaN
    number_mapping = {
        '0': 'zero',
        '1': 'one',
        '2': 'two',
        '3': 'three',
        '4': 'four',
        '5': 'five',
        '6': 'six',
        '7': 'seven',
        '8': 'eight',
        '9': 'nine'
    }
    # Replace numbers with their corresponding strings
    for number, word in number_mapping.items():
        text = text.replace(number, word)
    return text

data['Comments'] = data['Comments'].apply(replace_numbers_with_strings)

In [60]:
from translate import Translator

def translation(text):

    translator = Translator(to_lang="en", from_lang="te")

    # Translating text the text to English
    translated_text = translator.translate(text)

    return translated_text

In [ ]:
# Convert 'Comments' column to strings
data['Comments'] = data['Comments'].astype(str)

# Apply translation function
data['Comments'] = data['Comments'].apply(translation)

# Save the translated dataset to a CSV file
output = "translate_4000.csv"
data.to_csv(output, index=False)
print(f"Saved {output} successfully.")

In [74]:
import pandas as pd
import re
from transliterate import translit
from unidecode import unidecode
from googletrans import Translator
from translate import Translator
import math

In [75]:
data = pd.read_csv("telugu-english-test-data-with-labels.csv")
def remove_punctuation(text):
    '''a function for removing punctuation'''
    import string

    # Check if text is NaN, return empty string if it is
    if isinstance(text, float) and math.isnan(text):
        return ''

    translator = str.maketrans('', '', string.punctuation)
   
    return text.translate(translator)

data['Comments'] = data['Comments'].apply(remove_punctuation)
data.head(10)

   S.No                                           Comments     Label
0   1.0  ఎన్ని సార్లు అయిన వినాలని ఉంది చిట్టి తల్లి సూ...  non-hate
1   2.0             ఫ్యూచర్ లో బాగ work out అవుతుంది సూపర్  non-hate
2   3.0  ఇది బెండపూడి గవ్నమెంట్ స్టూడెంట్స్ కి మాత్రమే ...  non-hate
3   4.0  తెలుగులో మాట్లాడినప్పుడు చాలా అందంగా వినసొంపుగ...  non-hate
4   5.0  సూపర్ సిస్టర్ ఫ్యూచర్ లో రైల్వే లో జాబ్ రావాలన...  non-hate
5   6.0                  వావ్ సూపర్ అమ్మ god bless u తల్లి  non-hate
6   7.0  ఈ స్కూల్ ని NRI వాళ్ళు Develop చేస్తున్నారు మి...  non-hate
7   8.0  సూపర్ బంగారం బాగా చదువుతున్నావ్ కంపల్సరీ ఈ జాబ...  non-hate
8   9.0                చాలా బాగా నేర్పిస్తున్నారు పిల్లలకి  non-hate
9  10.0  మ్మెల్యే కాకముందే పోలీస్ ఆఫీసర్ ఇలా నించో పెడు...  non-hate

In [76]:
def replace_numbers_with_strings(text):
    number_mapping = {
        '0': 'zero',
        '1': 'one',
        '2': 'two',
        '3': 'three',
        '4': 'four',
        '5': 'five',
        '6': 'six',
        '7': 'seven',
        '8': 'eight',
        '9': 'nine'
    }
    
    # Replace numbers with their corresponding strings
    for number, word in number_mapping.items():
        text = text.replace(number, word)
    
    return text
data['Comments'] = data['Comments'].apply(replace_numbers_with_strings)
data.head(160)

      S.No                                           Comments     Label
0      1.0  ఎన్ని సార్లు అయిన వినాలని ఉంది చిట్టి తల్లి సూ...  non-hate
1      2.0             ఫ్యూచర్ లో బాగ work out అవుతుంది సూపర్  non-hate
2      3.0  ఇది బెండపూడి గవ్నమెంట్ స్టూడెంట్స్ కి మాత్రమే ...  non-hate
3      4.0  తెలుగులో మాట్లాడినప్పుడు చాలా అందంగా వినసొంపుగ...  non-hate
4      5.0  సూపర్ సిస్టర్ ఫ్యూచర్ లో రైల్వే లో జాబ్ రావాలన...  non-hate
..     ...                                                ...       ...
155  156.0  బండి ఆమెకి సాయం చేశారు అలాగే పిల్లలు కి కొని ప...  non-hate
156  157.0  థాంక్యూ అన్న మీలాంటి ఎమ్మెల్యే ని ఎక్కడ చూడడం ...  non-hate
157  158.0      మీకు జన్మ నిచ్చిన తల్లిదండ్రులకు ఎంతో అదృష్టం  non-hate
158  159.0      సుపర్ సార్ మీలాంటి ఎమ్మెల్యే మా తెలంగనకు కవలి  non-hate
159  160.0  akkada old people ki help chesaru and at the s...  non-hate

[160 rows x 3 columns]

In [78]:
from indic_transliteration import sanscript

def transliteration(text):
    # Performing transliteration from Telugu to English
    english_text = sanscript.transliterate(text, sanscript.TELUGU, sanscript.ITRANS)
    
    return english_text

In [79]:
data['Comments'] = data['Comments'].apply(transliteration)
output = "transliteration_test.csv"
data.to_csv(output, index=False)
print(f"Saved {output} successfully.")

Saved transliteration_test.csv successfully.